{% extends 'base.html.twig' %}

{% block title %}Cesiflix{% endblock %}

{% block body %}
    <div class="main-container" style="background-image: url({{ asset('build/robot.gif') }});
            background-repeat:no-repeat; background-size: cover; background-position: center;">
        <div class="container">
            <div class="synopsis">
                <h1>Mr Robot</h1>
                <h5><b><a href="{{ path('details', {idFilm:"tt4158110" }) }}">Saison 4 disponible maintenant !</a></b></h5>
                <p> Elliot est un jeune programmeur anti-social qui souffre d'un trouble du comportement qui le pousse à croire
                    qu'il ne peut rencontrer des gens qu'en les hackant. Il travaille pour une firme spécialisée
                    dans la cyber-sécurité mais un homme connu sous le nom de Mr Robot.
                </p>
            </div>
            <div class="goToMovies"><a href="/catalogue">Accéder au catalogue !</a> </div>
        </div>
    </div>
{% endblock %}
