{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="catalogue-container">
        <div class="navbar navbar-grid"><span class="title">Cesiflix</span></div>
        <div class="search"><span><input type="text"><input type="button" value="Rechercher"></span></div>
        <div class="thumbnail"><img class=""  src="{{ asset('build/theartist.jpg') }}">
        </div>
            {% for i in 0..4 %}
            <div class="thumbnail"> zaeeaze
            </div>
        {% endfor %}
        <div class="pagination">
            1 2 3 4 5
        </div>

        <div class="footer">C'est le footer</div>

    </div>
{% endblock %}
