{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="catalogue-container">
        <div class="navbar"><span class="title">Cesiflix</span></div>
        <div class="search"><span><input type="text"><input type="button" value="Rechercher"></span></div>
        <div class="thumbnail-list">
            <div class="thumbnail"><img class="" src="{{ asset('build/theartist.jpg') }}">
            </div>
            {% for i in 0..6 %}
                <div class="thumbnail"> zaeeaze
                </div>
            {% endfor %}


        </div>
        <div class="pagination">
            {% for i in 0..6 %}
                <div> {{ i }}
                </div>
            {% endfor %}
        </div>
        <div class="footer">Cesiflix est une propriété de Mehabli Rayane & Beaufils Geoffroy ©</div>

    </div>
{% endblock %}
