/*********ACCUEIL**********/
$min-width-desktop: 900px;
$colorNetflix: #DB202C;
$colorNav: #030C11;
$font-container: #091f2b;

@font-face {
  font-family: "netflixFont";
  src: url("../font/NetflixFont.ttf")
}

@font-face {
  font-family: "mrRobot";
  src: url("../font/mrRobot.ttf")
}

html, body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "MonsseRat";

}

/*PAGE ACCUEIL*/


.navbar {
  width: 100%;
  background-color: $colorNav;
  color: $colorNetflix;
  font-family: netflixFont;
  font-size: 3em;
  height: 60px;
  display: flex;
  align-content: center;

}

.main-container {
  height: 100vh;
  width: 100vw;
  background-color: $font-container;

}

.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  height: calc(100vh - 60px);

}

.synopsis {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: mrRobot;
    color: $colorNetflix;
    font-size: 2rem;

  }

  h5 {
    width: fit-content;
    border-bottom: solid 1px;
    font-size: 1rem;

  }

  p {
    font-size: 0.8rem;
  }
}

.goToMovies {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 2px;
  padding: 4px;
  color: $colorNetflix;

  a {
    text-decoration: none;
    color: $colorNetflix;

  }

  &:hover, a:hover, &:focus {
    border-color: $colorNav;
    color: $colorNav;
  }

}

.img {
  position: absolute;
  width: 100vw;
  max-height: 90vh;
  object-fit: cover;
  z-index: 0;
}


@media screen and (min-width: $min-width-desktop) {

  .navbar {
    height: 10vh;
  }
  .container {
    height: 90vh;
  }
  .title {
    margin: auto;
  }

  .synopsis {
    p {
      width: 40%;
    }
  }
  .img {
    position: absolute;
    top: 25%;
    left: 40%;
  }

}


/*********END ACCUEIL**********/
/*********CATALOGUE**********/


.catalogue-container {
  background-color: $font-container;
}

.navbar {
  width: 100%;
  height: 60px;
}

.searchBar {
  height: 100%;
  display: flex;
  justify-content: center;

  div {
    height: 40px;
  }

  input {
    height: 100%;
    border-radius: 5px 0 0 5px;
    border-top: 0;
    border-bottom: 0;
    box-sizing: border-box;
    text-indent: 5px;
  }
}

.search {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.search-no-result {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.thumbnail-list {
  display: flex;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
  width: 90%;
  flex-grow: 2;
  justify-content: space-between;
}

.thumbnail {
  /*background-color: $colorNetflix;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(90% / 2);
  height: 200px;
  margin: 15px 0 15px 0;

  img {
    width: 200px;
    height: 300px;

    &:hover, &:focus {
      width: 100%;
      height: 100%;
      transition: 300ms;
    }

    &:not(hover), &:not(focus) {
      width: 80%;
      height: 80%;
      transition: 300ms;

    }
  }
}
.thumbnail-na {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  div{
    text-align: center;
    padding: 0 5px 10px 5px;
  }

}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DB202C;
  max-width: 80%;
  margin: 0 auto 10px;
  font-size: 1.5rem;
  padding: 8px 0 8px 0;
  div a{
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  div:hover, div:focus, .active {
    background-color: $font-container;
  }
  div {
    border:solid 1px;
    border-color: $font-container;
    margin: 0 10px 0 10px;
  }
}

.footer {
  background-color: $colorNav;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 60px;
  font-size: 0.8rem;

}

@media screen and (min-width: $min-width-desktop) {

  .thumbnail-list {
    width: 80%;
    flex-grow: 3;
  }

  .thumbnail {

    width: calc(80% / 3);
    height: 400px;
    margin: 50px auto 50px auto;

    img {
      width: 200px;
      height: 300px;
    }
  }

  .pagination {
    width: 40%;
    max-width: 60%;
    margin: 0 auto 10px;
    font-size: 1.5rem;
    padding: 10px 0 10px 0;

  }

  .footer {
    height: 60px;
  }

}


/*********END CATALOGUE**********/

