/*********ACCUEIL**********/
$max-width-device: 900px;
$colorNetflix: #DB202C;
$colorNav: #030C11;
$font-container: #091f2b;

@font-face {
  font-family: "netflixFont";
  src: url("../font/NetflixFont.ttf")
}

@font-face {
  font-family: "mrRobot";
  src: url("../font/mrRobot.ttf")
}

html, body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "MonsseRat";

}

.navbar {
  width: 100%;
  background-color: $colorNav;
  color: $colorNetflix;
  font-family: netflixFont;
  font-size: 2em;

}


.main-container {
  height: 100vh;
  width: 100vw;
  background-color: $font-container;

}


.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /*background: url("assets/images/robot.jpg") no-repeat;*/
}

.synopsis {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: mrRobot;
    color: $colorNetflix;
  }

  h5 {
    width: fit-content;
    border-bottom: solid 1px;
  }
}

.goToMovies {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 2px;
  padding: 4px;
  color: $colorNetflix;

  a {
    text-decoration: none;
    color: $colorNetflix;

  }

  &:hover, a:hover, &:focus {
    border-color: $colorNav;
    color: $colorNav;
  }

}

@media screen and (max-width: $max-width-device) {
  .container {
    height: calc(100vh - 60px);
  }
  .navbar {
    height: 60px;
  }
  .title {
    margin: auto;
  }
  .synopsis {
    h1 {
      font-size: 2rem;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

}

@media screen and (min-width: $max-width-device + 1) {

  .navbar {
    height: 10vh;
  }
  .container {
    height: 90vh;
  }

  .synopsis {
    p {
      width: 40%;
    }
  }
}

/*********END ACCUEIL**********/
/*********CATALOGUE**********/
.catalogue-container {
  display: grid;
  grid-gap: 4px;
}

@media screen and (max-width: $max-width-device) {
  .catalogue-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px repeat(6,1fr) 60px ;
    background-color: $colorNetflix;
  }

  .navbar-grid {
    grid-row: 1/1;
    grid-column: span 2;
  }
  .thumbnail {
    grid-column: span 1;
    color: black;
  }
  .footer {
    grid-row: 12/13;
    grid-column: span 2;
  }
}

@media screen and (min-width: $max-width-device + 1) {

}

/*********END CATALOGUE**********/

